<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>72便</title>
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="form-group" style="margin-bottom: 0px; margin-left: 15px">
    <label for="name">预约人信息</label>
</div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <form role="form">
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           style="padding-bottom: 0px; padding-top: 0px">
                            请添加预约人信息
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="input-group">
                                    <span class="input-group-addon"
                                          style="background-color: #FFFFFF; padding-right: 25px">联系人</span>
                                    <input type="text" class="form-control" placeholder="请输入你的名字"
                                           style="border-left:solid #FFFFFF">
                                </div>
                            </li>
                            <li>
                                <div class="input-group" style="border: 1px solid gray">
                                    <span class="input-group-addon" style="background-color: #FFFFFF">联系电话</span>
                                    <input type="text" class="form-control" placeholder="请输入手机号码"
                                           style="border: 0px solid #FFFFFF">
                                </div>
                            </li>
                            <li>
                                <div class="input-group">
                                    <span class="input-group-addon" style="background-color: #FFFFFF">取货地址</span>
                                    <input type="text" class="form-control" placeholder=""
                                           style="border-left:solid #FFFFFF">
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div style="margin-top: 10px">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="input-group">
                            <span class="input-group-addon" style="background-color: #FFFFFF">预约时间</span>
                            <input type="text" class="form-control" placeholder="" style="border-left:solid #FFFFFF">
                        </div>
                    </li>
                </ul>
            </div>
            <div style="margin-top: 10px">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="input-group">
                            <span class="input-group-addon recycle"
                                  style="background-color: #FFFFFF; padding-right: 25px">回收物</span>
                            <select id="jia" class="form-control">
                                <option>酒瓶</option>
                                <option>家具</option>
                                <option>书本</option>
                                <option>电器</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="margin-top: 10px">
                <label>物品拍照（非必填）</label>
                <ul class="nav navbar-nav">
                    <li>
                        <img src="../static/img/preview.jpg" style="width: 100px; height: 90px;">
                        <div style="float: right; padding: 30px; padding-right: 80px">
                            <label>请上传图片，仅限一张</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="margin-top: 10px">
                <ul class="nav navbar-nav">
                    <li>
                        <div style="margin: 10px">
                            <h4>温馨提示:</h4>
                            <label for="">下单后，我们会按预约的时间上门服务。</label>
                            <label for="">上门前，我们会电话与你联系，</label>
                            <label for="">如您有特殊情况，请及时拨打<span><a href="">客服电话</a></span></label>
                        </div>
                        

                    </li>
                </ul>
            </div>
        </form>
    </div>
</nav>

</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script>
    console.log("hhhhhhh")
    console.log($(".help-block").text())

</script>
</html>